([
    (
        spawn_position: (0.0, 0.0, 0.0),
        rotation_speed: 3.1415927,
        acceleration: 250.0,
        acceleration_decay: Some(0.25),
        minimum_speed: 8.0,
        maximum_speed: 600.0,
        jump_animation_duration: (
            secs: 1,
            nanos: 0,
        ),
        jump_time_fraction: 0.2,
    ),
])
