({
    "final-asteroid-pool": (
        spritesheets: [
            AtlasIndex(sheetname: "small", index: 0, speed: None, rotation: None),
            AtlasIndex(sheetname: "small", index: 1),
            AtlasIndex(sheetname: "small", index: 2),
            AtlasIndex(sheetname: "small", index: 3),
            AtlasIndex(sheetname: "small", index: 4),
            AtlasIndex(sheetname: "small", index: 5),
            AtlasIndex(sheetname: "small", index: 6),
            AtlasIndex(sheetname: "small", index: 7),
            AtlasIndex(sheetname: "small", index: 8),
        ],
        speed: Range(start: 50, end: 70),
        displacement: Exact(10),
        rotation: Range(start: -2.0, end: 2.0),
        hit_behavior: Points(25),
    ),
    "trick-final-asteroid-pool": (
        spritesheets: [
            AtlasIndex(sheetname: "small-red", index: 0),
            AtlasIndex(sheetname: "small-red", index: 1),
            AtlasIndex(sheetname: "small-red", index: 2),
            AtlasIndex(sheetname: "small-red", index: 3),
            AtlasIndex(sheetname: "small-red", index: 4),
            AtlasIndex(sheetname: "small-red", index: 5),
            AtlasIndex(sheetname: "small-red", index: 6),
            AtlasIndex(sheetname: "small-red", index: 7),
            AtlasIndex(sheetname: "small-red", index: 8),
        ],
        speed: Exact(50),
        displacement: None,
        rotation: Range(start: -1.5, end: 1.5),
        hit_behavior: PointsAndSplit(
            points: 33,
            count: Exact(1),
            select_from: [ Pool(name: "final-asteroid-pool") ]
        ),
    ),
    "mid-asteroid-pool": (
        spritesheets: [
            AtlasIndex(sheetname: "medium", index: 0),
            AtlasIndex(sheetname: "medium", index: 1),
            AtlasIndex(sheetname: "medium", index: 2),
            AtlasIndex(sheetname: "medium", index: 3),
            AtlasIndex(sheetname: "medium", index: 4),
            AtlasIndex(sheetname: "medium", index: 5),
            AtlasIndex(sheetname: "medium", index: 6),
            AtlasIndex(sheetname: "medium", index: 7),
            AtlasIndex(sheetname: "medium", index: 8),
        ],
        speed: Range(start: 40, end: 60),
        displacement: Range(start: 20, end: 40),
        rotation: Range(start: -1.0, end: 1.0),
        hit_behavior: PointsAndSplit(
            points: 20,
            count: Exact(3),
            select_from: [
                Pool(name: "final-asteroid-pool", weight: 0.8),
                Pool(name: "trick-final-asteroid-pool", weight: 0.2),
            ]
        ),
    ),
    "starter-asteroid-pool": (
        spritesheets: [
            AtlasIndex(sheetname: "big", index: 0),
            AtlasIndex(sheetname: "big", index: 1),
            AtlasIndex(sheetname: "big", index: 2),
            AtlasIndex(sheetname: "big", index: 3),
            AtlasIndex(sheetname: "big", index: 4),
            AtlasIndex(sheetname: "big", index: 5),
            AtlasIndex(sheetname: "big", index: 6),
            AtlasIndex(sheetname: "big", index: 7),
            AtlasIndex(sheetname: "big", index: 8),
        ],
        speed: Range(start: 30, end: 50),
        displacement: Range(start: 30, end: 70),
        rotation: Range(start: -1.0, end: 1.0),
        hit_behavior: PointsAndSplit(
            points: 15,
            count: Range(start: 2, end: 4),
            select_from: [ Pool(name: "mid-asteroid-pool") ]
        ),
    ),
})
