({
    "game-settings": File(path: "stroid.game-settings.ron"),
    "game-levels": File(path: "stroid.level-settings.ron"),
    "input-key-settings": File(path: "stroid.input-key-settings.ron"),
    "weapon-collection": File(path:"stroid.weapon-collection.ron"),
    "ammonition-depot": File(path:"stroid.ammonition-depot.ron"),
    "asteroid-pool-collection": File(path:"stroid.asteroid-pool-collection.ron"),

    "background-main-menu": File(path:"state-backgrounds/space-7709489_1920.jpg"),
    "background-game-over": File(path:"state-backgrounds/space-7709489_1920.jpg"),
    "background-game-won": File(path:"state-backgrounds/space-7709489_1920.jpg"),
})
