({
    "Training Wheels": (
        //player: ( // ONLY for this 1 level!
        //    spawn_position: (0, 0),
        //    safe_radius: 100,
        //),
        background: "backgrounds/earth-1756274_1920.jpg",
        startup: (
            asteroids: (
                count: Exact(5),
                select_from: [
                    Pool(key: "starter-asteroid-pool"),
                ],
            ),
        ),
        next_level: "Rookie",
    ),
    "Rookie": (
        background: "backgrounds/planet-581239_1280.jpg",
        startup: (
            asteroids: (
                count: Exact(7),
                select_from: [
                    Pool(key: "starter-asteroid-pool", weight: 0.8),
                    Pool(key: "mid-asteroid-pool", weight: 0.2),
                ],
            ),
        ),
        next_level: "Yiihaaa!!!",
    ),
    "Yiihaaa!!!": (
        background: "backgrounds/planets-5923806_1920.jpg",
        startup: (
            asteroids: (
                count: Exact(10),
                select_from: [
                    Pool(key: "starter-asteroid-pool", weight: 0.7),
                    Pool(key: "mid-asteroid-pool", weight: 0.2),
                    Pool(key: "trick-final-asteroid-pool", weight: 0.1),
                ],
            ),
        ),
    ),
})