([
    (
        weapon_ports: [
            (20, 50), (-20, 50),
        ],
        ammonition_idx: [
            Exact(index:0),
        ],
    ),
    (
        weapon_ports: [
            (0, 20),
        ],
        ammonition_idx: [
            Exact(index:0, weight: 0.8),
            Exact(index:1, weight: 0.2 ),
        ],
    ),
])