({
    "1-port-red-laser": (
        weapon_ports: [
            (position: (0, 20)),
        ],
        default_ammonition: [
            Exact(name: "red-laser"),
        ],
        audio: "audio/laser_gun_sound-40813.ogg",
    ),
    "2-port-red-laser, random green-fast": (
        weapon_ports: [
            (position: (20, 50)), (position: (-20, 50)),
        ],
        default_ammonition: [
            Exact(name: "red-laser", weight: 0.8),
            Exact(name: "green-fast-laser", weight: 0.2 ),
        ],
        audio: "audio/shoot02wav-14562.ogg",
    ),
    "3-port-special": (
        weapon_ports: [
            (position: (0, 20), ammonition: [ Exact(name: "green-fast-laser") ]),
            (position: (20, 50), rotation: -4), (position: (-20, 50), rotation: 4),
        ],
        default_ammonition: [
            Exact(name: "red-laser"),
        ],
        audio: "audio/laser-104024.ogg",
    ),
})