({
    "final-asteroid-pool": (
        textures: [
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 0),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 1),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 2),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 3),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 4),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 5),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 6),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 7),
            AtlasIndex(key: "small-asteroid-atlas", atlas_idx: 8),
        ],
        displacement: Exact(10),
        velocity: Range(start: 50, end: 70),
        angular_velocity: Range(start: -2.0, end: 2.0),
        hit_behavior: [
            Audio("audio/explosion-91872.ogg"),
            Points(25),
            Despawn,
        ],
    ),
    "trick-final-asteroid-pool": (
        textures: [
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 0),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 1),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 2),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 3),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 4),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 5),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 6),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 7),
            AtlasIndex(key: "small-red-asteroid-atlas", atlas_idx: 8),
        ],
        displacement: None,
        velocity: Exact(50),
        angular_velocity: Range(start: -1.5, end: 1.5),
        hit_behavior: [
            Audio("audio/explosion-91872.ogg"),
            Points(33),
            Split(
                count: Exact(1),
                select_from: [ Pool(key: "final-asteroid-pool") ]
            ),
            Despawn,
        ],
    ),
    "mid-asteroid-pool": (
        textures: [
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 0),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 1),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 2),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 3),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 4),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 5),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 6),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 7),
            AtlasIndex(key: "medium-asteroid-atlas", atlas_idx: 8),
        ],
        displacement: Range(start: 20, end: 40),
        velocity: Range(start: 40, end: 60),
        angular_velocity: Range(start: -1.0, end: 1.0),
        hit_behavior: [
            Audio("audio/explosion-91872.ogg"),
            Points(20),
            Split(
                count: Exact(3),
                select_from: [
                    Pool(key: "final-asteroid-pool", weight: 0.8),
                    Pool(key: "trick-final-asteroid-pool", weight: 0.2),
                ]
            ),
            Despawn,
        ],
    ),
    "starter-asteroid-pool": (
        textures: [
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 0),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 1),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 2),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 3),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 4),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 5),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 6),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 7),
            AtlasIndex(key: "big-asteroid-atlas", atlas_idx: 8),
        ],
        displacement: Range(start: 30, end: 70),
        velocity: Range(start: 30, end: 50),
        angular_velocity: Range(start: -1.0, end: 1.0),
        hit_behavior: [
            Audio("audio/medium-explosion-40472.ogg"),
            Points(15),
            Split(
                count: Range(start: 2, end: 4),
                select_from: [ Pool(key: "mid-asteroid-pool") ]
            ),
            Despawn
        ],
    ),
})
