({
    "red-laser": (
        texture_key: "red-ammonition-gfx",
        speed: 1000.0,
        timeout: (
            secs: 0,
            nanos: 150000000,
        ),
    ),
    "green-fast-laser": (
        texture_key: "green-ammonition-gfx",
        speed: 2000.0,
        timeout: (
            secs: 0,
            nanos: 350000000,
        ),
    ),
})
